* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Days One', sans-serif;
}

#home, #career, #contact, #about {
	margin: 0 20px;
	font-size: 13px;
	color: white;
}


.clear {
	content: "";
	display: block;
	clear: both;
}

#mynav {
	position: fixed;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
}



#span {
	color: white;
	/*border: 5px solid black;*/
}
.carousel-caption > h2{
	/*border: 1px solid black;*/
	margin-top: -180px;
}

.piclabel h2{
	margin-top: -300px;
}

.slogan {
	text-align: center;
	/*border: 1px solid;*/
	height: 300px;
	background-color: rgba(231, 29, 54, 0.8);
	color: #f0eae8;
	font-size: 50px;
	padding-top: 30px;
}

.divider {
	height: 100px;
}

.divider2 {
	height: 150px;
}

.slogan_container {
	margin-top: -80px;
	
}

.bg_container {
	background-image: url(../images/bg_1.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quotation {
	height: 300px;
	/*background-color: #CFCFCF;*/
	font-size: 20px;
	text-align: center;
}

.quotation p {
	/*border: 1px solid black;*/
	color: #011627;
}



.projects {
	/*background-color: #CFCFCF;*/
}

.navbar-brand > img {
	height: 50px;
}

.whyus p {
	color: #878482;
	font-size: 12px;

}

.insights > .card{
	margin: 0 auto;
	width: 70px;
}

.a_container > a {
	color: red;
	height: 30px;
	width: 30px;
}

.video-ads {
	width: 100%;
	object-fit: cover;
	/*z-index: -999;*/

}

.conheight {
	height: 250px;
	overflow: hidden;
	position: relative;
	opacity: 0.4;
	/*background: linear-gradient(rgba(248, 251, 70, 0.6));*/

}

.conheight > div > p {
	position: absolute;
	font-size: 100px;
	/*z-index: 99999;*/
}

.quotation {
	width: 100%;
	position: absolute;
	z-index: 2;
}

.quotation p {
	font-size: 30px;
}

.stcontainer {
	border-left: 10px solid #E71D36;
	text-align: center;
}



.img_container {
	height: 100px;
	width: 100px;
	margin: auto;
	margin-top: 30px;
}

.img_outer_container {
	height: 150px;
	width: 150px;
	background-color: #13738b;
	border-radius: 50%;
	margin: auto;
	box-shadow: 1px 1px 10px 1px rgb(105, 104, 103);
	margin-top: -80px;

}

.img_container2 {
	height: 100px;
	width: 100px;
	margin: auto;
	margin-top: 40px;
}

.service_card {
	margin: 0 auto;
}

.service_card p {
	font-size: 15px;
	color: #8D8A88;
	text-align: center;
} 

.service_card h5 {
	text-align: center;
}

.projects img {
	width: 350px;

}

footer {
	background-color: #011627;
	color: #FDFFFC;
}

footer img {
	height: 60px;
}

.footer_divider {
	height: 30px;
}

footer > .row > [class*=col] {
	margin: 0 auto;
	/*color: red;*/
	text-align: center;
	line-height: 100%;

}

#socmedmain .socmed {
	display: block;
	margin-top: 15px;
	font-size: 3em;
}

.footer .col-md-5 {
	position: relative;
}

#logo1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.copyright {
	text-align: center;
	margin-top: 1rem;
}

.t {
	border: 1px solid white;
}

.spacer_contact {
	height: 20px;
}

footer {
	color: #e8e6e4;
}

.dividerf {
	height: 50px;
}

.dividerf .col-md-10 {
	border-bottom: 0.5px solid rgba(141, 161, 170, 0.49);
}

.container .card-text {
	min-height: 130px;
}

.insights .card-body {
	min-height: 200px;
}


/*------------------media querry------------------------*/
/*mobile view*/
@media only screen	and (max-width: 400px) {

	.slogan_container {
		margin-top: auto;
	}

	.slogan {
		height: 355px;
	}

	.insights {
		margin-top: 20px;
	}

	#card-style {
		width: 1px;
	}


	.card-mobile {
		margin-top: 100px;
	}

	.conheight {
		height: 320px;
	}

	.stcontainer {
		border-right: 10px solid #E71D36;
	}

	.footer .col-md-5 {
	position: relative;
	}

	#logo1 {
		position: absolute;
		margin-top: 30px;
	}

	#footer-contacts {
		margin-top: 100px;
	}

	.socmedmain {
		margin-top: 20px;
	}

	#footer-email {
		margin-top: 30px;
	}

	.sc-top {
		margin-top: -100px;
	}


}
/*tablet view*/
@media	only screen and (min-width: 401px) and (max-width: 960px) {
	.slogan_container {
		margin-top: auto;
	}

	.slogan {
		min-height: 355px;
	}

	.insights {
		margin-top: 20px;
	}

	.s3card {
		margin-top: 100px;
	}

	form {
		margin-top: 30px;
	}


}