* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Days One', sans-serif;
}

#home, #career, #contact, #about {
	font-family: 'Days One', sans-serif;
	margin: 0 20px;
	font-size: 13px;
	color: white;
}


.clear {
	content: "";
	display: block;
	clear: both;
}

#mynav {
	position: fixed;
	z-index: 3;
	background-color: rgba(255,255,255,0);
	width: 100%;
}



#span {
	color: white;
	/*border: 5px solid black;*/
}
.carousel-caption > h2{
	/*border: 1px solid black;*/
	margin-top: -180px;
}





