* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.test1 {
	height: 300px;
	background-color: green;
	/*float: left;*/
}

.test2 {
	height: 300px;
	background-color: red;
	float: left;
}


